{% extends "web-site_fit_line2/base.html" %}

{% block title %}
  Create a new password
{% endblock title %}

{% block additional_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/change_password.css' %}">
{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="background-container">
            <h2>Create your New Password</h2> <!-- Обновлен заголовок -->
            <p>Введіть новий надійний пароль, щоб гарантувати безпеку вашого облікового запису.</p> <!-- Добавлен текстовый блок с инструкциями -->
            <div class="form-container">
                <form action="" method="post" novalidate>
                    {% csrf_token %}

                   <div class="form-group2">
                        <label for="id_new_password1">New Password:</label>
                        <input type="password" id="id_new_password1" name="new_password1" class="form-control" required>
                        <small class="error-message">{{ form.new_password1.errors|striptags }}</small>
                    </div>

                    <div class="form-group2">
                        <label for="id_new_password2">Confirm New Password:</label>
                        <input type="password" id="id_new_password2" name="new_password2" class="form-control" required>
                        <small class="error-message">{{ form.new_password2.errors|striptags }}</small>
                    </div>

                    <button type="submit" class="btn btn-submit">Submit</button>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
