{% extends "web-site_fit_line2/base.html" %}

{% block title %}
  Password Reset
{% endblock title %}

{% block additional_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/change_password.css' %}">
{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="background-container">
            <h2>Forgot Your Password?</h2> <!-- Обновлен заголовок -->
            <p>Enter your email below, and we'll send you a link to reset your password.</p> <!-- Добавлен текстовый блок с инструкциями -->
            <div class="form-container">
                <form action="" method="post" novalidate>
                    {% csrf_token %}

                    <div class="form-group2">
                        <label for="id_email">Email:</label>
                        <input type="email" id="id_email" name="email" class="form-control" required>
                        <small class="error-message">{{ form.email.errors|striptags }}</small>
                    </div>

                    <button type="submit" class="btn btn-submit">Send Reset Link</button>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
