{% extends "web-site_fit_line2/base.html" %}

{% block title %}
  Password Reset Confirm
{% endblock title %}

{% block additional_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/change_password.css' %}">
{% endblock %}

{% block content %}
     <div class="page-container">
        <div class="background-container">
            <div class="content-container">
                <h2>Надіслано електронний лист для скидання пароля</h2>
                <p>Ми надіслали вам електронного листа з інструкціями щодо зміни пароля.
                    Будь ласка, перевірте свою поштову скриньку та перейдіть за посиланням.</p>
                <p>Якщо ви не отримали листа, перевірте також папку "Спам".</p>
                <p>Якщо у вас продовжують виникати проблеми, <a href="{% url 'contact' %}"
                                                            style="color: #0dece5; text-decoration: underline;">
                    зв'яжіться з нами</a> за допомогою.</p>
            </div>
        </div>
    </div>
{% endblock %}
